@media screen and (max-width: 1200px){
.home-logo{
    height: 50px;
    width: 50px;
}
.title-bar h1{
    font-size: 25px;
    padding: 10px;
}
.tools-list h1{
    font-size: 20px;
}
.list-Btn{
    padding: 15px 40px;
}
.tool-card{
    margin: 20px;
}
.tool-pic{
    height: 40px;
    width: 40px;
    border-radius: 10px;
}
img{
    height: 40px;
    width: 40px;
    border-radius: 10px;
}
.tool-name{
    font-size: 15px;
    margin-top: 30px;
}
}