*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #181d17;
    display: flex;
    justify-content: center;
}
.logo{
    height: 40px;
    width: 40px;
    animation: rotate 3s linear infinite;
}
@keyframes rotate {
    100%{
        transform: rotate(-360deg);
    }
}
#search{
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    margin-bottom: 10px;
}
#search:focus{
    outline: none;
}
.search-container{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: #fff;
}
.home{
    display: block;
    margin: 10px;
    align-items: center;
}
.tool{
    display: flex;
    padding: 10px;
    gap: 10px;
}
.title{
    color: #2bff00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}
.picture{
    height: 100px;
    width: 100px;
    margin: 10px;
}
.download{
    margin-top: 20px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 0 10px #2bff00;
    margin: 4px;
    font-size: 12px;
}
.goto{
    margin-top: 20px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 0 10px #2bff00;
    margin: 4px;
    font-size: 12px; 
}
.btn{
    padding: 10px 20px;
    border-radius: 20px;
    position: relative;
    left: 40%;
}